  <label for="section_number">Section Number&nbsp&nbsp</label>
  <input id="section_number" name="section[number]" type="number" min="1"
         value="<%= @section.number %>">
  <br><label for "section_name">Section Name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
  <input id="section_name" name="section[name]" type="text" size="40"
         value="<%= @section.name %>">
