<% content_for(:title, "New Section | Rebuild This Site!") %>
<h1>Rebuild This Site!</h1>
<br>
<h2>Create a New Section</h2>

<%= render('layouts/errors', :object => @section) %>

<h3>Enter the following information about the section:</h3>
<form action="/sections" method="post">
  <%= render('form') %>
  <br><button style="background-color:green">Create the Section</button>
</form>
<br>
<h4><a href="/lessons">Table of Contents</a></h4>
