<% content_for(:title, "New Lesson | Rebuild This Site!") %>
<h1>Rebuild This Site!</h1>
<br>
<h2>Create a New Lesson</h2>

<%= render('layouts/errors', :object => @lesson) %>

<h3>Enter the following information about the lesson:</h3>
<form action="/lessons" method="post">
  <%= render('form') %>
  <br><button style="background-color:green">Create the Lesson</button>
</form>
<br>
<h4><a href="/lessons">Table of Contents</a></h4>
